---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import dayjs from 'dayjs';
import Card from '~/components/Card.astro';
import Footer from '~/components/Footer.astro';
import Header from '~/components/Header.astro';
import PaginationButtons from '~/components/PaginationButtons.astro';
import Layout from '~/layouts/Layout.astro';
import Main from '~/layouts/Main.astro';
import { site } from '~/utils/config';
import getTags from '~/utils/getTags';
import { tagIcons } from '~/utils/tagIcons';

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection('blogs');
  const tags = await getTags(posts);
  return tags.flatMap(({ name }) => {
    const tagPosts = posts
      .filter((post) => {
        return post.data.tags.includes(name);
      })
      .sort((a, b) => (dayjs(a.data.pubDate).isAfter(b.data.pubDate) ? -1 : 1));
    return paginate(tagPosts, {
      params: { tag: name },
      pageSize: site.postPerPage,
    });
  });
}) satisfies GetStaticPaths;

const { tag } = Astro.params;

const { page } = Astro.props;

const randomIdx = Math.floor(Math.random() * tagIcons.other.length);
const icon =
  tagIcons[tag as keyof typeof tagIcons] ?? tagIcons.other[randomIdx];
---

<Layout title={`Tag:${tag} | ${site.title}`}>
  <Header activeNav="tags" />
  <Main
    pageDesc={`TIL articles with the tag "${tag}" so far.`}
    pageTitle=""
    screenReaderOnly
  >
    <div
      class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between sm:gap-0"
    >
      <h1
        class="text-2xl font-semibold capitalize sm:text-3xl"
        slot="title"
        transition:name={tag}
      >
        {tag.replace(/-/g, ' ')}
      </h1>
      <div
        class="group flex h-24 w-24 items-center justify-center rounded-lg border border-inherit hover:bg-custom-card"
        transition:name={`icon-${tag}`}
      >
        <Fragment set:html={icon} />
      </div>
    </div>
    <ul class="flex flex-col gap-4">
      {
        page.data.map(({ data, slug }) => (
          <Card
            dataTestId={`tag-post-${tag}`}
            href={`/posts/${slug}`}
            frontmatter={data}
            {slug}
          />
        ))
      }
    </ul>
  </Main>
  <PaginationButtons {page} />
  <Footer />
</Layout>
