---
import Card from '~/components/Card.astro';
import Footer from '~/components/Footer.astro';
import Header from '~/components/Header.astro';
import HomepageCard from '~/components/HomepageCard.astro';
import Hr from '~/components/Hr.astro';
import Link from '~/components/Link.astro';
import Layout from '~/layouts/Layout.astro';
import { getFeaturedPosts, getLatestPosts } from '~/utils/sortPosts';

const latestPosts = await getLatestPosts();
const featuredPosts = await getFeaturedPosts(3);
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero" class="pb-6 pt-8">
      <h1
        class="my-4 inline-block text-3xl font-bold text-custom-accent sm:my-8 sm:text-5xl"
      >
        Today I learned
      </h1>

      <p class="my-2">
        A little blog that embraces the principles of <a
          href="https://www.swyx.io/learn-in-public"
          referrerpolicy="no-referrer"
          target="_blank"
        >
          <i>learning in public</i></a
        >. Why don't share your journey of getting better at stuff? Everyone
        started somewehere.
      </p><p>
        I want to keep learning about interesting things, to keep getting better
        at various topics.
      </p>
      <p class="mt-6">
        The plan is to write about:
        <ul class="mx-6">
          <li>Web Developlment</li>
          <li>Computer Science</li>
          <li>Science related topics</li>
          <li>...whatever I found interesting that day!</li>
        </ul>
      </p>

      <p class="my-4">Join me and let's have some fun!</p>
    </section>

    <Hr className="max-w-4xl" noPadding />

    <section class="py-6">
      <h2 class="text-3xl font-semibold tracking-wide">Featured Posts</h2>
      <ul class="divide-y divide-custom-light">
        {
          featuredPosts.map((post) => (
            <HomepageCard
              dataTestId={`featured-post-${post.id}`}
              href={`/blog/${post.slug}`}
              frontmatter={post.data}
              slug={post.slug}
            />
          ))
        }
      </ul>
    </section>
    <section class="py-6">
      <div class="my-8 text-center">
        <Link href="/blog/featured">
          All Featured Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </Link>
      </div>
    </section>
    <Hr className="max-w-4xl" noPadding />

    <section class="pb-6 pt-12">
      <h2 class="text-3xl font-semibold tracking-wide">Latest Posts</h2>
      <ul class="divide-y divide-custom-light">
        {
          latestPosts.map((post) => (
            <HomepageCard
              dataTestId={`latest-post-${post.id}`}
              href={`/blog/${post.slug}`}
              frontmatter={post.data}
              slug={post.slug}
            />
          ))
        }
      </ul>
    </section>

    <section class="py-6">
      <div class="my-8 text-center">
        <Link href="/blog">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </Link>
      </div>
    </section>
  </main>

  <Footer />
</Layout>
