---
import Date from './Date.astro';
import type { CollectionEntry } from 'astro:content';
import { formatDate } from '~/utils/formatDate';

interface Props {
  href?: string;
  frontmatter: CollectionEntry<'blogs'>['data'];
  secHeading?: boolean;
  slug: string;
  dataTestId?: string;
}
const { href, frontmatter, slug, secHeading = true, dataTestId } = Astro.props;
const { title, pubDate, description, tags } = frontmatter;
const date = formatDate(pubDate);

const headerProps = {
  style: { viewTransitionName: title },
  className: 'text-lg font-medium decoration-dashed hover:underline',
};
---

<li class="my-6 flex flex-col gap-2" transition:name={slug}>
  <a
    href={href}
    class="inline-block text-lg font-medium text-custom-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
    data-test-id={dataTestId}
  >
    {
      secHeading ? (
        <h2 {...headerProps}>{title}</h2>
      ) : (
        <h3 {...headerProps}>{title}</h3>
      )
    }
  </a>
  <Date datetime={date} />
  <p class="text-gray-700 dark:text-gray-300">{description}</p>
  <p class="text-sm uppercase text-gray-700/80 dark:text-gray-400">
    {tags.map((tag) => <span>{tag} </span>)}
  </p>
</li>
