---
import Date from './Date.astro';
import type { CollectionEntry } from 'astro:content';
import dayjs from 'dayjs';
import slugify from 'slugify';

interface Props {
  href?: string;
  frontmatter: CollectionEntry<'blogs'>['data'];
  secHeading?: boolean;
}
const { href, frontmatter, secHeading = true } = Astro.props;
const { title, pubDate, description } = frontmatter;
const date = dayjs(pubDate).format('DD/MM/YYYY');

const headerProps = {
  style: { viewTransitionName: slugify(title) },
  className: 'text-lg font-medium decoration-dashed hover:underline',
};
---

<li class="my-6">
  <a
    href={href}
    class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {
      secHeading ? (
        <h2 {...headerProps}>{title}</h2>
      ) : (
        <h3 {...headerProps}>{title}</h3>
      )
    }
  </a>
  <Date datetime={date} />
  <p>{description}</p>
</li>
