---
import { socials } from '~/utils/config';
import { socialIcons } from '~/assets/socialIcons';
import Link from './Link.astro';
import classNames from 'classnames';

export interface Props {
	centered?: boolean;
}

const { centered = false } = Astro.props;
const divClasses = classNames(
	'flex flex-wrap justify-center gap-1 items-center',
	{
		flex: centered,
	},
);

const socialsDisplay = socials.filter((s) => s.active);
---

<div class={divClasses}>
  {
    socialsDisplay.map((social, index) => (
      <>
        <Link
          dataTestId={`social-link${social.name}`}
          href={social.href}
          className="p-2 hover:rotate-6 sm:p-1"
          title={social.linkTitle}
          newTab
        >
          <Fragment set:html={socialIcons[social.name]} />
        </Link>
        {index !== socialsDisplay.length - 1 ? (
          <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
        ) : null}
      </>
    ))
  }
</div>
