---
import type { Tag } from '~/utils/getTags';
import { tagIcons } from '~/utils/tagIcons';

export interface Props {
  tag: Tag;
}

const { tag } = Astro.props;
const randomIdx = Math.floor(Math.random() * tagIcons.other.length);
const icon =
  tagIcons[tag.name as keyof typeof tagIcons] ?? tagIcons.other[randomIdx];
---

<li>
  <a
    href={`/tags/${tag.name.toLowerCase()}`}
    transition:name={tag.name.toLowerCase()}
    data-test-id="tag"
    class="group flex flex-col items-center gap-2"
  >
    <div
      class="flex h-24 w-24 items-center justify-center rounded-lg border border-inherit hover:bg-custom-card/90"
      transition:name={`icon-${tag.name}`}
    >
      <Fragment set:html={icon} />
    </div>
    <p
      class="text-wrap text-center group-hover:text-custom-accent group-hover:underline group-hover:decoration-dashed"
    >
      {tag.name.toLowerCase()}({tag.postsCount})
    </p>
  </a>
</li>
