---
import classNames from 'classnames';
import Breadcrumbs from '~/components/Breadcrumbs.astro';

interface StringTitleProp {
  pageTitle: string;
  pageDesc?: string;
  screenReaderOnly?: boolean;
}

interface ArrayTitleProp {
  pageTitle: [string, string];
  titleTransition: string;
  pageDesc?: string;
  screenReaderOnly?: boolean;
}

export type Props = StringTitleProp | ArrayTitleProp;

const { props } = Astro;
const descriptionClasses = classNames('mb-6 mt-2 italic', {
  'sr-only': props.screenReaderOnly,
});
---

<Breadcrumbs />
<main class="mx-auto w-full max-w-4xl px-8 pb-12 sm:px-4">
  {
    'titleTransition' in props ? (
      <h1 class="text-2xl font-semibold sm:text-3xl">
        {props.pageTitle[0]}
        <span transition:name={props.titleTransition}>
          {props.pageTitle[1]}
        </span>
      </h1>
    ) : (
      <h1 class="text-2xl font-semibold">{props.pageTitle}</h1>
    )
  }
  <p class={descriptionClasses}>{props.pageDesc}</p>
  <slot />
</main>
