---
import { site } from '~/utils/config';
import Layout from './Layout.astro';
import Header from '~/components/Header.astro';
import Main from './Main.astro';
import Card from '~/components/Card.astro';
import Footer from '~/components/Footer.astro';
import type { Page } from 'astro';
import PaginationButtons from '~/components/PaginationButtons.astro';

export interface Props {
  page: Page;
  pageTitle?: string;
  pageDesc?: string;
}

const {
  page,
  pageTitle = 'Posts',
  pageDesc = "What I've learned so far.",
} = Astro.props;
---

<Layout title={`Posts | ${site.title}`}>
  <Header activeNav="posts" />
  <Main {pageTitle} {pageDesc}>
    <ul class="flex flex-col gap-4">
      {
        page.data.map(({ data, slug }, index) => (
          <Card
            dataTestId={`blog-post-${index}`}
            href={`/posts/${slug}`}
            frontmatter={data}
            {slug}
          />
        ))
      }
    </ul>
  </Main>

  <PaginationButtons {page} />
  <Footer noMarginTop={page.total > 1} />
</Layout>

<style>
  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-custom-base group-hover:fill-custom-base;
  }
  .disabled-svg {
    @apply group-hover:!fill-custom-base;
  }
</style>
